<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pannellum Editor</title>
    <link rel="stylesheet" href="css/pannellum.css" />
    <script type="text/javascript" src="js/pannellum.js"></script>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div id="sceneList">
        {% for scene in scenes %}
        <a class="button" onclick="switchTo('{{ scene }}')">{{ scene }}</a>
        {%- endfor %}
    </div>
    <div id="help">
        <div style="display: inline;"> Ctrl+Left click to create a hotspot </div>
        <div id="currentPos" style="display:inline; float:right;">Current position in Frame:
            <b>Pitch:</b> <span id="currentPitch">-</span>
            <b>Yaw:</b> <span id="currentYaw">-</span>
            <b>FOV:</b> <span id="currentFOV">-</span>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="editor_fields">
                    <label for="input_type">Hotspot Type</label>
                    <select id="input_type" onchange="setHotspotType()">
                        <option value="info">info</option>
                        <option value="scene">scene</option>
                    </select>
                    <br />

                    <label for="input_yaw">Yaw</label>
                    <input id="input_yaw" />
                    <br />

                    <label for="input_pitch">Pitch</label>
                    <input id="input_pitch" />
                    <br />

                    <label for="input_text">Text</label>
                    <input id="input_text" />
                    <br />
                </div>

                <div id="target_scene_picker" style="display: none;">
                    <label for="input_scene">Target scene</label>
                    <select id="input_scene">
                        {% for scene in scenes %}
                        <option value="{{ scene }}">{{ scene }}</option>
                        {% endfor %}
                    </select>
                    <br />
                </div>
                <button onclick="createHotSpot()">Create</button>
            </div>

        </div>

    </div>
    <div id="editContainer">
        <div class="panorama" id="example1">
            <div id="controls">
                <div class="ctrl" id="pan-set">Set</div>
            </div>
        </div>
        <div>
            <pre id="config"> </pre>
        </div>
    </div>


    <script>
        viewer = pannellum.viewer('example1', {
            "default": {
                "firstScene": "{{ first_scene }}",
                "autoLoad": true,
                "sceneFadeDuration": 500,
                "keyboardZoom": false,
                "type": "equirectangular",
            },
            "scenes": {
                {% for scene in scenes %}
                "{{ scene }}": {
                    "panorama": "/assets/{{ scene }}.jpg",
                    "pitch": 0,
                    "yaw": 0,
                    "hfov": 100,
                    "hotSpots": [],
                },
                {% endfor %}
            }
        });
    </script>

    <!-- Local Editor mode -->
    <script src="js/editor.js"></script>

    <!-- Backend Mode
    <script>
        const backendURL = "https://url-to-your-api";
    </script>
    <script src="js/backend.js"></script>
    -->

</body>

</html>
