<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panoramatest</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="sceneList">
        {% for scene in scenes %}
        <a class="button" onclick="switchTo('{{scene}}')">{{scene}}</a>
        {% endfor %}
    </div>
    <div id="help">
        <ul>
            <li> Ctrl+Left click = Info Hotspot </li>
            <li> Shift+Left click = Scene Hotspot </li>

        </ul>
    </div>
    <div id="editContainer">
        <div class="panorama" id="example1"></div>
        <div>
            Hotspot text: <input id="labelInput" value="Foobar" />
            <pre id="config"> </pre>

        </div>
    </div>


    <script>
        viewer = pannellum.viewer('example1', {
            "default": {
                "firstScene": "{{ first_scene }}",
                "autoLoad": true,
                "sceneFadeDuration": 500,
                "keyboardZoom": false
            },
            "scenes": {
                {% for scene in scenes %}
                "{{ scene }}": {
                    "type": "equirectangular",
                    "panorama": "/assets/{{ scene }}.jpg",
                    "pitch": 0,
                    "yaw": 0,
                    "hfov": 100,
                    "hotSpots": [
                        {
                            "pitch": 0,
                            "yaw": 0,
                            "type": "scene",
                            "text": "Test",
                            "sceneId": "{{first_scene}}"
                        },
                    ]
                },
                {% endfor %}
            }
        });

        hotspots = {
            {% for scene in scenes %}
            "{{ scene }}": [],
            {% endfor %}
        }
    </script>
    <script src="script.js"></script>
    <script>
        updateConfig()
    </script>

</body>

</html>
